[Unit]
Description=msg publisher
Requires=network.target
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/metrics_in_clouds/src/msg_export_graphite.py
ExceStop=/bin/kill -9 $MAINPID
User=pi
PIDFile=/tmp/iot_msg_publisher_graphite.pid
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target