[Unit]
Description=UART Reader
Requires=network.target
After=syslog.target network.target

[Service]
Type=simple
ExecStart=python3 /home/pi/metrics_in_clouds/src/msg_uart_reader.py
ExecStop=/bin/kill -HUP $MAINPID
User=pi
PIDFile=/tmp/iot_uart_reader.pid

[Install]
WantedBy=multi-user.target